# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Large generated datasets
data/raw/*.csv
data/processed/*.csv
data/database/*.db

# Power BI exported data
powerbi/*.csv

# Temporary files
*.tmp
*.temp
*.log

# OS files
.DS_Store
Thumbs.db

# Streamlit
.streamlit/secrets.toml