# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Large generated datasets
data/raw/*.csv
data/processed/*.csv

# Local full database
data/database/sales.db

# Deployment database
!data/database/sales_deploy.db

# Power BI exported data
powerbi/*.csv

# Temporary files
*.tmp
*.temp
*.log

# OS files
.DS_Store
Thumbs.db

# Streamlit
.streamlit/secrets.toml